<header class="fixed top-0 left-0 right-0 z-10 bg-gray-900/80 backdrop-blur-sm shadow-sm">
    <div class="mx-auto max-w-5xl px-6 sm:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="text-2xl font-black tracking-tighter text-gray-50">
                <a href="{{ site.baseurl }}/">{{ site.title }}</a> <!-- Link back to home -->
            </div>
            <div class="text-md font-semibold text-gray-300">
                <a href="{{ site.baseurl }}/#about-me" class="transition-colors hover:text-white">About / Contact</a>
            </div>
        </div>
    </div>
</header>