---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="blog-post mt-16">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta meta-info">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- elsif site.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ site.author | escape }}</span></span>
      {%- endif -%}
    </p>
  </div>

  <div class="blog-post">
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}

      {% if page.tags.size > 0 %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a class="post-tag" href="{{ site.baseurl }}/tags/{{ tag | slugify }}/">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  {%- if site.posts.size > 1 -%}
  <div class="blog-post">
    <div class="related-posts">
      <h2>Related Posts</h2>
      {% assign related_posts = "" | split: "" %}
      {% for tag in page.tags %}
        {% for post in site.tags[tag] %}
          {% unless post.url == page.url %}
            {% assign related_posts = related_posts | push: post %}
          {% endunless %}
        {% endfor %}
      {% endfor %}
      {% assign related_posts = related_posts | uniq | sort: "date" | reverse %}
      <ul class="post-list">
        {% for post in related_posts limit:5 %}
          <li>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
